/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 may. 2024, 18:44:03
    Author     : marco
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, button {
    margin: 5px;
    padding: 10px;
    width: calc(50% - 20px);
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#productCatalog, #InventarioReactivo {
    margin-top: 20px;
}
/* Estilo para la tabla de productos */
#tabla-productos, #tabla-reactivos {
    width: 100%;
    border-collapse: collapse;
}

#tabla-productos th,
#tabla-productos td,
#tabla-reactivos th,
#tabla-reactivos td{
    border: 1px solid #ddd;
    padding: 8px;
}

#tabla-productos th,
#tabla-reactivos th{
    background-color: #f2f2f2;
    color: #333;
}

#tabla-productos tr, 
#tabla-reactivos tr:nth-child(even) {
    background-color: #f9f9f9;
}

#tabla-productos tr:hover,
#tabla-reactivos tr:hover{
    background-color: #f2f2f2;
}


