/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 5 may. 2024, 18:44:03
    Author     : marco
*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 80%;
    max-width: 600px;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    margin-bottom: 20px;
}

input, button {
    margin: 5px;
    padding: 10px;
    width: calc(50% - 20px);
}

button {
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
}

button:hover {
    background-color: #0056b3;
}

#productCatalog, #reagentInventory {
    margin-top: 20px;
}

