<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">
 
    <servlet>
        <servlet-name>AgregaProducto</servlet-name>
        <servlet-class>servlets.AgregaProducto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenProductos</servlet-name>
        <servlet-class>servlets.ObtenProductos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InventariarReactivo</servlet-name>
        <servlet-class>servlets.InventariarReactivo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ObtenInventarioReactivos</servlet-name>
        <servlet-class>servlets.ObtenInventarioReactivos</servlet-class>
    </servlet>
  
    <servlet-mapping>
        <servlet-name>AgregaProducto</servlet-name>
        <url-pattern>/AgregaProducto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenProductos</servlet-name>
        <url-pattern>/ObtenProductos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InventariarReactivo</servlet-name>
        <url-pattern>/InventariarReactivo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ObtenInventarioReactivos</servlet-name>
        <url-pattern>/ObtenInventarioReactivos</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
